F1
[{"id":"74bfa13e.e3d048","type":"rpi-gpio out","z":"c71aca40.7c3b88","name":"GREEN LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":370,"y":240,"wires":[]},{"id":"57d2b733.fcd54","type":"rpi-gpio in","z":"c71aca40.7c3b88","name":"button","pin":"7","intype":"up","debounce":"25","read":true,"x":205.49998474121094,"y":462.1999969482422,"wires":[["6fb53c7a.310b5c"]]},{"id":"6fb53c7a.310b5c","type":"switch","z":"c71aca40.7c3b88","name":"if 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":250,"y":380,"wires":[["18f4eabd.adf035"],[]]},{"id":"18f4eabd.adf035","type":"change","z":"c71aca40.7c3b88","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["74bfa13e.e3d048"]]}]
