F2
[{"id":"1887f18a.ec1b86","type":"inject","z":"b7ce23d4.fdbea","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":269.49998474121094,"y":193,"wires":[["fd6829db.c773b"]]},{"id":"fd6829db.c773b","type":"function","z":"b7ce23d4.fdbea","name":"payload","func":"msg.headers={\n    deviceKey: \"fjM3vs0tRY0Dq0zd\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":191,"wires":[["2dc491c6.34fc5e"]]},{"id":"2dc491c6.34fc5e","type":"http request","z":"b7ce23d4.fdbea","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DeuQ91sS/datachannels/LED/datapoints.csv","tls":"","x":302.49998474121094,"y":374.59999084472656,"wires":[["eb8dc977.f76ae","bf337b69.7ba"]]},{"id":"bf337b69.7ba","type":"http response","z":"b7ce23d4.fdbea","name":"","statusCode":"","headers":{},"x":557,"y":331,"wires":[]},{"id":"eb8dc977.f76ae","type":"debug","z":"b7ce23d4.fdbea","name":"","active":true,"console":"false","complete":"false","x":419.49998474121094,"y":495.7999725341797,"wires":[]}]
