F3
[{"id":"1be0844e.d90014","type":"inject","z":"ebf3b23b.0d2068","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":159.49998474121094,"y":167,"wires":[["66a0ba1b.25c24c"]]},{"id":"66a0ba1b.25c24c","type":"function","z":"ebf3b23b.0d2068","name":"payload","func":"msg.headers={\n    deviceKey: \"fjM3vs0tRY0Dq0zd\"\n    };\nmsg.payload=\"Temperature,,25.5\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["9e40f08a.77dda8"]]},{"id":"9e40f08a.77dda8","type":"http request","z":"ebf3b23b.0d2068","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DeuQ91sS/datapoints.csv","tls":"","x":330,"y":300,"wires":[["b390132.f098a7","36971f36.d843a"]]},{"id":"b390132.f098a7","type":"http response","z":"ebf3b23b.0d2068","name":"","statusCode":"","headers":{},"x":490,"y":300,"wires":[]},{"id":"36971f36.d843a","type":"debug","z":"ebf3b23b.0d2068","name":"","active":true,"console":"false","complete":"false","x":350,"y":420,"wires":[]}]
